.imageUpload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imageUpload__mediaPreview {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageUpload__previewImage {
  width: 500px;
}
