.passwordReset {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  justify-content: center;
}

.passwordReset__container {
  /* display: flex;
    flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 20px;
  justify-content: center;
  width: 275px;
  height: max-content;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px #888888;
  /* background-color: aqua; */
}

.passwordReset__image {
  margin: 22px auto 12px;
  height: 51px;
  width: 150px;
}

.passwordReset__form {
  /* background-color: blueviolet; */
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordReset__input {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  border: 1px solid lightgrey;
  color: #262626;
  /* background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); */
  /* background-color: black; */
  /* margin: 5px; */
  height: 25px;
  border-radius: 5px;
  width: 275px;
}

.passwordReset__button {
  /* margin: 5px; */
  height: 25px;
  border-radius: 5px;
  width: 280px;
  background-color: #2e81f4;
  color: white;
  border: none;
  cursor: pointer;
}

.signin__signup {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 275px;
  /* height: 50px; */
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px #888888;
  /* background-color: aqua; */
}

.signin__signupLink {
  color: #2e81f4;
  margin-left: 5px;
}

.signin__signupLink {
  text-decoration: none;
}

.signin__signupLink :visited {
  text-decoration: none;
}
