.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: black; */
}

.left__header {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: azure;
  border-bottom: 1px solid gainsboro;
}
.left__header > h3 {
  flex: 0.95;
  text-align: center;
  /* background-color: blueviolet; */
}

.left__header > .MuiSvgIcon-root {
  color: black;
}

.left__chats {
  flex: 1;
  /* flex: 1; */
  /* background-color: aqua; */
}
