.right {
  display: flex;
  flex-direction: column;
}

.right__header {
  display: flex;
  /* flex-direction: row; */
  height: 60px;
  align-items: center;
  background-color: azure;
  border-bottom: 1px solid gainsboro;
  justify-content: flex-start;
}

.right__icon {
  margin-left: 20px;
}

.header__info {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.right__icon > .MuiSvgIcon-root {
  padding: 10px;
}

.right__body {
  flex: 1;
  background-color: aqua;
}

.right__footer {
}
